<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <!--    写入sql语句-->
    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        select st.*,c.name as CategoryName from setmeal st left outer join category c on st.category_id = c.id
        <where>
            <if test="name != null">
                and st.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and st.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and st.status = #{status}
            </if>
        </where>
        order by st.create_time desc
    </select>
    <select id="getById" resultType="com.sky.entity.Setmeal">
        select * from setmeal where id = #{id}
    </select>
    <delete id="deleteBatch" parameterType="list">
        delete from setmeal where id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </delete>

    <update id="updateStatus">
        update setmeal set status = #{status} where id = #{id}
    </update>
    <update id="update">
        update setmeal
        <set>
            <if test="description != null"> description = #{description},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="categoryId != null"> category_id = #{categoryId},</if>
            <if test="image != null"> image = #{image},</if>
            <if test="name != null"> name = #{name},</if>
            <if test="price != null"> price = #{price},</if>
        </set>
        where id = #{id}
    </update>
    <select id="list" parameterType="Setmeal" resultType="Setmeal">
        select * from setmeal
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from setmeal
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>